/* Full Page Layout */
/* body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
} */

/* Home Container */
.home {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Navbar and Footer should stay at top and bottom */
.footer-main {
    flex-shrink: 0; /* Prevents the footer from resizing */
}

/* Middle Section Fills Remaining Space */
.middle {
    flex-grow: 1; /* Fills remaining space between navbar and footer */
    display: flex;
    height: 540px;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #ccd0be;
    color: #54473F;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

/* Image Container */
.img-container {
    width: 400px;
    height: 400px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%; /* Circular image */
}

/* Text Container */
.text-container {
    max-width: 600px;
}

.text-container .Heading {
    font-size: 3rem;
    font-weight: bold;
    color: #54473F;
    margin-bottom: 10px;
}

.text-container .context {
    font-size: 1rem;
    line-height: 1.5;
    color: #54473F;
    text-align: justify;
}

.signature-footer {
    text-align: center; /* Center the text */
    font-size: 1rem; /* Small, signature-like font size */
    color: #3d3d3d; /* Subtle light gray color */
    font-style: italic; /* Give it a handwritten or personal touch */
    margin-top: 30px; /* Space from the content above */
    padding: 10px 0; /* Padding for spacing */
}

.author {
    font-weight: bold; /* Bold the author's name for emphasis */
    color: #473327; /* Use a warm color to make the name stand out */
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.button {
    background-color: #765949;
    color: #E9EED9;
    width: 30%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #f2b157;
}
